<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kasir.My.MySettings.ConnectionString" connectionString="Dsn=simrs;uid=lis"
            providerName="System.Data.Odbc" />
        <add name="Kasir.My.MySettings.ConnectionString1" connectionString="Dsn=simrs1coba;uid=lis;pwd=lis1234"
            providerName="System.Data.Odbc" />
        <add name="Kasir.My.MySettings.ConnectionString2" connectionString="Dsn=farmasi;uid=lis"
            providerName="System.Data.Odbc" />
        <add name="Kasir.My.MySettings.ConnectionString3" connectionString="Dsn=SIMRS COBA;uid=lis"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>